body {
    margin: 0;
    padding: 0;
    background: rgb(247, 246, 212);
}

.head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(250, 247, 151);
    font-size: 20px;
    text-align: center;
    font-family: 'Bauhaus 93';
    box-shadow: 2px 2px 2px rgb(0,0,.25);
    width: 20%;

}

.head > h1 {
    color: rgb(68, 68, 68);
}

.navbar > ul {
    position: relative;
    text-align: center;
}

.navbar > ul > li {
    display: inline-block;
    font-size: 30px;
    font-family: 'Bauhaus 93';
    text-align: center;
    margin: 50px;
    text-decoration: none;
    cursor: pointer;
}

.game,
.web,
.mobile,
.design,
.other {
    padding: 5px;
    background: rgb(247,246,212);
    transition: 0.5s;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.25);
}

.game:hover,
.web:hover,
.mobile:hover,
.design:hover,
.other:hover {
    background: rgb(250, 247, 151);
    box-shadow: 3px 3px 3px rgb(0,0,0,0.25);
}

.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
    padding: 5px;
    background: rgb(247,246,212);
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.25);
}

.home:hover {
    background: rgb(250, 247, 151);
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.25);
}